.about-outer-container {
  background-color: #383838;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  padding-bottom: 55px;
  padding-top: 35px;
  width: 100%;
}

.title-name, .title-date {
  color: #f4a261;
  font-family: 'Jost';
  font-size: 500%;
  font-weight: lighter;
  text-transform: uppercase;
  z-index: 1;
  margin-top: -40px;
  text-shadow: 2px 2px 4px #000000;
}

.title-date {
  font-size: 200%;
  margin-top: -15px;
}

.title-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-info-container {
  padding: 0% 10% 0% 5%;
  width: 70%;
}

.about-text {
  color: #FFF;
  font-family: 'Muli';
  letter-spacing: 0.7px;
  line-height: 180%;
}

.about-text-2 {
  margin-top: 12px;
}

.email-text {
  text-decoration-line: underline;
}

.contact-info-container {
  margin-top: 5%;
  margin-bottom: 3%;
}

.resume-button {
  background-color: #383838;
  border: 2px solid #a72db9;
  border-radius: 26px;
  color: #FFF;
  font-size: 100%;
  height: 50px;
  margin-top: 5%;
  padding: 0px 20px;
  width: auto;
}

.resume-button:hover {
  background-color: #a72db9;
  color: #FFF;
  cursor: pointer;
}

.tech-skills-link {
  font-family: 'Muli';
  text-decoration: underline;
}

.tech-skills-link:hover {
  cursor: pointer;
}

.about-wrapper {
  background-color: #383838;
  margin-top: -5px;
}


@media only screen and (max-width: 850px) {

  .about-info-container {
    padding-left: 50px;
  }

  .title-name {
    font-size: 400%;
    margin-top: -35px;
  }

  .title-date {
    font-size: 160%;
    margin-top: -3px;
  }

}

@media only screen and (max-width: 740px) {

  .title-name {
    font-size: 350%;
    margin-top: -30px;
  }

}

@media only screen and (max-width: 650px) {

  .title-name {
    font-size: 320%;
  }

}

@media only screen and (max-width: 550px) {

  .title-name {
    font-size: 280%;
  }

}

@media only screen and (max-width: 470px) {

  .title-name {
    font-size: 240%;
    margin-top: -23px;
  }
  
  .title-date {
    font-size: 120%;
  }

}

