.header-outer-container {
  /* align-items: center; */
  /* background: center/100% url(../../images/purple_lines.jpg); */
  /* background-color: #264653; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* height: auto; */
  /* position: relative; */
  text-align: center;
  width: 100%;

  /* border: 1px solid red; */

  /* height: 800px; */
  background-color: #383838;
}

.down-arrow {
  background: center/100% url(../../images/down_arrow_icon.png);
  border: 1px solid #FFF;
  height: 35px;
  margin-top: 150px;
  position: relative;
  width: 35px;
}

@media only screen and (max-width: 950px) {

  /* .title-name {
    font-size: 350%;
  } */

}

@media only screen and (max-width: 660px) {

  /* .title-name:nth-child(2) {
    margin-top: 100px;
  }

  .title-name:nth-child(3) {
    margin-top: 0px;
  }

  .title-industry {
    font-size: 120%;
    padding-top: 20px;
  } */

}
