.slideshow-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.react-slideshow {
  width: 50%;
}

.slide-img-container {
  width: 100%;
}

.slide-img {
  width: 100%;
}

@media only screen and (max-width: 1400px) {

  .react-slideshow {
    width: 100%;
  }
}
